body {
	background: #f4f4f4;
}

/* Header =============== */
header {
	text-align: center;
}

header:hover {
	cursor: pointer;
}

/* PaintingGrid =============== */

.wrapper {
	width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-gap: 25px;

	color: #444;
	margin-top: 20px;
}

.grid-wrapper > div {
	margin: auto;
}

.thumbnail-wrapper {
	position: relative;
	border: 10px solid white;
	box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09),
		0 0.063em 0.125em rgba(0, 0, 0, 0.07);
}
.thumbnail {
	float: left;
	width: 250px;
	height: 250px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.thumbnail:hover {
	cursor: pointer;
}

.thumbnail:hover ~ .thumbnail-meta-data {
	display: block;
	height: 15px;
	opacity: 1;
}

.thumbnail-meta-data {
	position: absolute;
	bottom: 0;
	background: white;
	width: calc(100% - 20px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	height: 0;
	opacity: 0;
	transition: all 0.2s ease;
}

.search-bar {
	margin: 0 auto;
	width: calc(100% - 400px);
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #d0cfce;
	outline: none;
}

/* Detail =============== */

.detail {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.painting-detail {
	min-width: 100px;
	border: 10px solid white;
	box-shadow: 0 0.125em 0.313em rgba(50, 50, 93, 0.09),
		0 0.063em 0.125em rgba(0, 0, 0, 0.07);
}

.detail-meta {
	width: 500px;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
}

.detail-meta > p {
	margin: 0px;
	padding: 5px;
}

.dimensions {
	font-style: italic;
}

@media only screen and (max-width: 1020px) {
	.wrapper {
		width: 100%;
	}

	.grid-wrapper {
		grid-template-columns: 50% 50%;
		grid-gap: 25px 0;
	}

	.detail {
		width: 100%;
	}

	.detail-meta {
		width: 50%;
		padding-left: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.grid-wrapper {
		grid-template-columns: 100%;
	}
}
